#### Name: Asha Cumberbatch
#### Date: April 29th 2025
#### Final project, Milestone 3
#### This program contains the exploration and cleaning of the U.S Chronic Disease Indicators data set.

In [2]:
import pandas as pd

In [3]:
datafile = "U.S.ChronicDiseaseIndicators.csv"
df = pd.read_csv(datafile)

##### We list the data frame's name to print a preview of the data. 
##### The data frame, df, was not created with an index specified, so numbers each entry in place of an index.

In [5]:
df

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2020,2020,US,United States,BRFSS,Health Status,Recent activity limitation among adults,NaN,Number,Age-adjusted Mean,...,HEA,HEA04,NaN,AGEADJMEAN,SEX,SEXF,NaN,NaN,NaN,NaN
1,2015,2019,AR,Arkansas,US Cancer DVT,Cancer,"Invasive cancer (all sites combined), incidence",NaN,Number,Number,...,CAN,CAN07,NaN,NMBR,SEX,SEXM,NaN,NaN,NaN,NaN
2,2015,2019,CA,California,US Cancer DVT,Cancer,"Cervical cancer mortality among all females, u...",NaN,Number,Number,...,CAN,CAN03,NaN,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2015,2019,CO,Colorado,US Cancer DVT,Cancer,"Invasive cancer (all sites combined), incidence",NaN,Number,Number,...,CAN,CAN07,NaN,NMBR,RACE,HIS,NaN,NaN,NaN,NaN
4,2015,2019,GA,Georgia,US Cancer DVT,Cancer,"Prostate cancer mortality among all males, und...",NaN,Number,Number,...,CAN,CAN05,NaN,NMBR,RACE,WHT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309210,2022,2022,VI,Virgin Islands,BRFSS,Tobacco,Quit attempts in the past year among adult cur...,NaN,%,Age-adjusted Prevalence,...,TOB,TOB06,NaN,AGEADJPREV,RACE,AIAN,NaN,NaN,NaN,NaN
309211,2022,2022,WV,West Virginia,BRFSS,Chronic Obstructive Pulmonary Disease,Chronic obstructive pulmonary disease among ad...,NaN,%,Crude Prevalence,...,COPD,COPD01,NaN,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
309212,2022,2022,WI,Wisconsin,BRFSS,Immunization,Pneumococcal vaccination among adults aged 65 ...,NaN,%,Crude Prevalence,...,IMM,IMM04,NaN,CRDPREV,RACE,BLK,NaN,NaN,NaN,NaN
309213,2022,2022,VT,Vermont,BRFSS,Social Determinants of Health,Lack of health insurance among adults aged 18-...,NaN,%,Crude Prevalence,...,SDOH,SDH09,NaN,CRDPREV,RACE,HAPI,NaN,NaN,NaN,NaN
309214,2022,2022,WA,Washington,BRFSS,Alcohol,Binge drinking prevalence among adults,NaN,%,Age-adjusted Prevalence,...,ALC,ALC06,NaN,AGEADJPREV,SEX,SEXM,NaN,NaN,NaN,NaN

### Data Exploration
##### To get a summary of the data, we can use functions like info, describe and sample. This helps us get to know the data, and allows for identification and correction before we begin our analysis.

##### First, to get an idea of what the data set will look like, the shape function, (which tells the number of rows and columns) and the info function, (which lists the data tyoe of each column) will be run.

In [8]:
df.shape

(309215, 34)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309215 entries, 0 to 309214
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   YearStart                  309215 non-null  int64
 1   YearEnd                    309215 non-null  int64
 2   LocationAbbr               309215 non-null  object
 3   LocationDesc               309215 non-null  object
 4   DataSource                 309215 non-null  object
 5   Topic                      309215 non-null  object
 6   Question                   309215 non-null  object
 7   Response                   0 non-null       float64
 8   DataValueUnit              309215 non-null  object
 9   DataValueType              309215 non-null  object
 10  DataValue                  209196 non-null  float64
 11  DataValueAlt               209196 non-null  float64
 12  DataValueFootnoteSymbol    101716 non-null  object
 13  DataValueFootnote          101716 non-null  object
 14  LowConfidenceLimit         188885 non-null  float64
 15  HighConfidenceLimit        188890 non-null  float64
 16  StratificationCategory1    309215 non-null  object
 17  Stratification1            309215 non-null  object
 18  StratificationCategory2    0 non-null       float64
 19  Stratification2            0 non-null       float64
 20  StratificationCategory3    0 non-null       float64
 21  Stratification3            0 non-null       float64
 22  Geolocation                303452 non-null  object
 23  LocationID                 309215 non-null  int64
 24  TopicID                    309215 non-null  object
 25  QuestionID                 309215 non-null  object
 26  ResponseID                 0 non-null       float64
 27  DataValueTypeID            309215 non-null  object
 28  StratificationCategoryID1  309215 non-null  object
 29  StratificationID1          309215 non-null  object
 30  StratificationCategoryID2  0 non-null       float64
 31  StratificationID2          0 non-null       float64
 32  StratificationCategoryID3  0 non-null       float64
 33  StratificationID3          0 non-null       float64
dtypes: float64(14), int64(3), object(17)
memory usage: 80.2+ MB

In [10]:
df.dtypes

YearStart                      int64
YearEnd                        int64
LocationAbbr                  object
LocationDesc                  object
DataSource                    object
Topic                         object
Question                      object
Response                     float64
DataValueUnit                 object
DataValueType                 object
DataValue                    float64
DataValueAlt                 float64
DataValueFootnoteSymbol       object
DataValueFootnote             object
LowConfidenceLimit           float64
HighConfidenceLimit          float64
StratificationCategory1       object
Stratification1               object
StratificationCategory2      float64
Stratification2              float64
StratificationCategory3      float64
Stratification3              float64
Geolocation                   object
LocationID                     int64
TopicID                       object
QuestionID                    object
ResponseID                   float64
DataValueTypeID               object
StratificationCategoryID1     object
StratificationID1             object
StratificationCategoryID2    float64
StratificationID2            float64
StratificationCategoryID3    float64
StratificationID3            float64
dtype: object

#### By looking at the results of df.info, we can see most of the data falls under the type object, (17 columns) or float (14) columns. 
#### We can use the head and tail functions to have a quick look at the beginning and end of the set and the sample function to get a random sample of some of the set, now we know the category type of each column.

In [12]:
df.head(2)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2020,2020,US,United States,BRFSS,Health Status,Recent activity limitation among adults,NaN,Number,Age-adjusted Mean,...,HEA,HEA04,NaN,AGEADJMEAN,SEX,SEXF,NaN,NaN,NaN,NaN
1,2015,2019,AR,Arkansas,US Cancer DVT,Cancer,"Invasive cancer (all sites combined), incidence",NaN,Number,Number,...,CAN,CAN07,NaN,NMBR,SEX,SEXM,NaN,NaN,NaN,NaN

In [13]:
df.tail(2)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
309213,2022,2022,VT,Vermont,BRFSS,Social Determinants of Health,Lack of health insurance among adults aged 18-...,NaN,%,Crude Prevalence,...,SDOH,SDH09,NaN,CRDPREV,RACE,HAPI,NaN,NaN,NaN,NaN
309214,2022,2022,WA,Washington,BRFSS,Alcohol,Binge drinking prevalence among adults,NaN,%,Age-adjusted Prevalence,...,ALC,ALC06,NaN,AGEADJPREV,SEX,SEXM,NaN,NaN,NaN,NaN

In [14]:
df.sample(2)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
104001,2019,2019,WY,Wyoming,BRFSS,Chronic Obstructive Pulmonary Disease,Chronic obstructive pulmonary disease among ad...,NaN,%,Age-adjusted Prevalence,...,COPD,COPD01,NaN,AGEADJPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
119492,2020,2020,FL,Florida,CMS Part A Claims Data,Cardiovascular Disease,Hospitalization for heart failure as principal...,NaN,"cases per 1,000",Age-adjusted Rate,...,CVD,CVD06,NaN,AGEADJRATE,OVERALL,OVR,NaN,NaN,NaN,NaN

In [15]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'DataSource',
       'Topic', 'Question', 'Response', 'DataValueUnit', 'DataValueType',
       'DataValue', 'DataValueAlt', 'DataValueFootnoteSymbol',
       'DataValueFootnote', 'LowConfidenceLimit', 'HighConfidenceLimit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'Geolocation', 'LocationID', 'TopicID', 'QuestionID', 'ResponseID',
       'DataValueTypeID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2',
       'StratificationCategoryID3', 'StratificationID3'],
      dtype='object')

In [16]:
df.count()

YearStart                    309215
YearEnd                      309215
LocationAbbr                 309215
LocationDesc                 309215
DataSource                   309215
Topic                        309215
Question                     309215
Response                          0
DataValueUnit                309215
DataValueType                309215
DataValue                    209196
DataValueAlt                 209196
DataValueFootnoteSymbol      101716
DataValueFootnote            101716
LowConfidenceLimit           188885
HighConfidenceLimit          188890
StratificationCategory1      309215
Stratification1              309215
StratificationCategory2           0
Stratification2                   0
StratificationCategory3           0
Stratification3                   0
Geolocation                  303452
LocationID                   309215
TopicID                      309215
QuestionID                   309215
ResponseID                        0
DataValueTypeID              309215
StratificationCategoryID1    309215
StratificationID1            309215
StratificationCategoryID2         0
StratificationID2                 0
StratificationCategoryID3         0
StratificationID3                 0
dtype: int64

##### The describe function provides a summary of the numeric columns in the set.
##### It is also beneficial to pull a sample of some columns, like the Location description and the Question column.

In [18]:
df.describe()

,YearStart,YearEnd,Response,DataValue,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,LocationID,ResponseID,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
count,309215.000000,309215.000000,0.0,2.091960e+05,2.091960e+05,188885.000000,188890.000000,0.0,0.0,0.0,0.0,309215.000000,0.0,0.0,0.0,0.0,0.0
mean,2020.012195,2020.288540,NaN,6.943569e+02,7.356701e+02,36.825051,46.030554,NaN,NaN,NaN,NaN,31.208693,NaN,NaN,NaN,NaN,NaN
std,1.530835,1.068591,NaN,1.620341e+04,1.834715e+04,65.025590,69.995643,NaN,NaN,NaN,NaN,17.798773,NaN,NaN,NaN,NaN,NaN
min,2015.000000,2019.000000,NaN,0.000000e+00,0.000000e+00,0.000000,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
25%,2019.000000,2019.000000,NaN,1.240000e+01,1.240000e+01,9.100000,14.000000,NaN,NaN,NaN,NaN,17.000000,NaN,NaN,NaN,NaN,NaN
50%,2020.000000,2020.000000,NaN,2.700000e+01,2.700000e+01,19.500000,29.200000,NaN,NaN,NaN,NaN,31.000000,NaN,NaN,NaN,NaN,NaN
75%,2021.000000,2021.000000,NaN,5.780000e+01,5.780000e+01,40.300000,54.300000,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN,NaN
max,2022.000000,2022.000000,NaN,2.925456e+06,2.925456e+06,1427.000000,1485.900000,NaN,NaN,NaN,NaN,78.000000,NaN,NaN,NaN,NaN,NaN

In [19]:
df.LocationDesc

0          United States
1               Arkansas
2             California
3               Colorado
4                Georgia
               ...
309210    Virgin Islands
309211     West Virginia
309212         Wisconsin
309213           Vermont
309214        Washington
Name: LocationDesc, Length: 309215, dtype: object

In [20]:
df['Question']

0                   Recent activity limitation among adults
1           Invasive cancer (all sites combined), incidence
2         Cervical cancer mortality among all females, u...
3           Invasive cancer (all sites combined), incidence
4         Prostate cancer mortality among all males, und...
                                ...
309210    Quit attempts in the past year among adult cur...
309211    Chronic obstructive pulmonary disease among ad...
309212    Pneumococcal vaccination among adults aged 65 ...
309213    Lack of health insurance among adults aged 18-...
309214               Binge drinking prevalence among adults
Name: Question, Length: 309215, dtype: object

##### To determine if there are any missing values. We can use the isna function which will mark columns where the value is missing with True, and those not missing their value as false.

In [22]:
df.isna()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,TopicID,QuestionID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True
1,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True
2,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True
3,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True
4,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309210,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True
309211,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True
309212,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True
309213,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True
309214,False,False,False,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,True

### Data Cleaning
##### Not all of the columns are needed for analysis, so another dataset is created, a subset of the original data frame. This is labeled breastcancer, and the columns are renamed. This allows for greater readability and easy recognition during analysis.

In [24]:
breastcancer = df[['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValueUnit', 'DataValueType', 'DataValue', 'StratificationCategory1', 'Stratification1']]
breastcancer

,YearStart,YearEnd,LocationAbbr,LocationDesc,Question,DataValueUnit,DataValueType,DataValue,StratificationCategory1,Stratification1
0,2020,2020,US,United States,Recent activity limitation among adults,Number,Age-adjusted Mean,2.9,Sex,Female
1,2015,2019,AR,Arkansas,"Invasive cancer (all sites combined), incidence",Number,Number,9537.0,Sex,Male
2,2015,2019,CA,California,"Cervical cancer mortality among all females, u...",Number,Number,486.0,Overall,Overall
3,2015,2019,CO,Colorado,"Invasive cancer (all sites combined), incidence",Number,Number,2880.0,Race/Ethnicity,Hispanic
4,2015,2019,GA,Georgia,"Prostate cancer mortality among all males, und...",Number,Number,519.0,Race/Ethnicity,"White, non-Hispanic"
...,...,...,...,...,...,...,...,...,...,...
309210,2022,2022,VI,Virgin Islands,Quit attempts in the past year among adult cur...,%,Age-adjusted Prevalence,NaN,Race/Ethnicity,"American Indian or Alaska Native, non-Hispanic"
309211,2022,2022,WV,West Virginia,Chronic obstructive pulmonary disease among ad...,%,Crude Prevalence,14.0,Overall,Overall
309212,2022,2022,WI,Wisconsin,Pneumococcal vaccination among adults aged 65 ...,%,Crude Prevalence,64.2,Race/Ethnicity,"Black, non-Hispanic"
309213,2022,2022,VT,Vermont,Lack of health insurance among adults aged 18-...,%,Crude Prevalence,NaN,Race/Ethnicity,"Hawaiian or Pacific Islander, non-Hispanic"
309214,2022,2022,WA,Washington,Binge drinking prevalence among adults,%,Age-adjusted Prevalence,19.2,Sex,Male

#### Not all of the responses within the selected columns are necessary. 
#### Only the values for the data ending in 2020 will be used (as that is the year that data for breast cancer mortality rates and mammography rates have in common).
#### For accurate comparison between states, crude rates, as opposed to number of cases reported will be used. To ensure this, the data is filtered, set to only include the rows that contain crude. 
#### Questions used will center around breast cancer and mammography, so those key words are filtered on as well.
#### The groups of interest are overall (total rate for each state), Black, White and Hispanic groups, so a filter is applied to exclude all entries that do not fall into those categories.
#### There are also some locations in the set are not states, such as Guam. (District of Columbia and an overall value for the US are also included, but these will be kept, as they may be useful during analysis.)
#### An new data set will be created to represent the updated dataset. It will be called breastcancer_filtered.

In [26]:
breastcancer_filtered = breastcancer[
    (breastcancer["YearEnd"].astype(str).str.contains("2020", case=False, na=False)) &
    (breastcancer["DataValueType"].str.contains("Crude", case=False, na=False)) &
    (~breastcancer["Stratification1"].str.contains("American Indian|Alaska Native|Asian|Pacific Islander|Multiracial|Hawaiian|Male|Female", case=False, na=False)) &
    (~breastcancer["LocationAbbr"].str.contains("GU|VI|PR", case=False, na=False)) &
    ((breastcancer["Question"].str.contains("Breast Cancer", case=False, na=False)) |
     (breastcancer["Question"].str.contains("Mammography", case=False, na=False)))
]
breastcancer_filtered

,YearStart,YearEnd,LocationAbbr,LocationDesc,Question,DataValueUnit,DataValueType,DataValue,StratificationCategory1,Stratification1
410,2020,2020,AR,Arkansas,Mammography use among women aged 50-74 years,%,Crude Prevalence,74.2,Overall,Overall
444,2020,2020,ID,Idaho,Mammography use among women aged 50-74 years,%,Crude Prevalence,71.6,Overall,Overall
572,2020,2020,VT,Vermont,Mammography use among women aged 50-74 years,%,Crude Prevalence,74.8,Overall,Overall
1134,2016,2020,AZ,Arizona,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,23.5,Race/Ethnicity,"Black, non-Hispanic"
1183,2016,2020,CA,California,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,22.8,Overall,Overall
...,...,...,...,...,...,...,...,...,...,...
178020,2020,2020,WA,Washington,Mammography use among women aged 50-74 years,%,Crude Prevalence,76.1,Race/Ethnicity,"White, non-Hispanic"
178341,2020,2020,WY,Wyoming,Mammography use among women aged 50-74 years,%,Crude Prevalence,NaN,Race/Ethnicity,Hispanic
178531,2020,2020,WV,West Virginia,Mammography use among women aged 50-74 years,%,Crude Prevalence,NaN,Race/Ethnicity,"Black, non-Hispanic"
178871,2020,2020,VT,Vermont,Mammography use among women aged 50-74 years,%,Crude Prevalence,NaN,Race/Ethnicity,"Black, non-Hispanic"
178935,2020,2020,WA,Washington,Mammography use among women aged 50-74 years,%,Crude Prevalence,78.7,Race/Ethnicity,Hispanic

In [27]:
pd.options.mode.copy_on_write = True

#### For easier viewing, some columns will be renamed.

In [29]:
breastcancer_filtered.rename(columns={'YearStart':'year_start'}, inplace=True)
breastcancer_filtered.rename(columns={'YearEnd': 'year_end' },inplace=True)
breastcancer_filtered.rename(columns={'LocationAbbr':'abbr'}, inplace=True)
breastcancer_filtered.rename(columns={'LocationDesc':'location'},inplace=True) 
breastcancer_filtered.rename(columns={'Question':'question'}, inplace=True)
breastcancer_filtered.rename(columns={'DataValueUnit':'data_unit' },inplace=True)
breastcancer_filtered.rename(columns={'DataValueType':'data_type'}, inplace=True)
breastcancer_filtered.rename(columns={'DataValue':'data_value'},inplace=True) 
breastcancer_filtered.rename(columns={'StratificationCategory1': 'category'}, inplace=True)
breastcancer_filtered.rename(columns={'Stratification1': 'classification'}, inplace=True)

In [30]:
breastcancer_filtered

,year_start,year_end,abbr,location,question,data_unit,data_type,data_value,category,classification
410,2020,2020,AR,Arkansas,Mammography use among women aged 50-74 years,%,Crude Prevalence,74.2,Overall,Overall
444,2020,2020,ID,Idaho,Mammography use among women aged 50-74 years,%,Crude Prevalence,71.6,Overall,Overall
572,2020,2020,VT,Vermont,Mammography use among women aged 50-74 years,%,Crude Prevalence,74.8,Overall,Overall
1134,2016,2020,AZ,Arizona,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,23.5,Race/Ethnicity,"Black, non-Hispanic"
1183,2016,2020,CA,California,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,22.8,Overall,Overall
...,...,...,...,...,...,...,...,...,...,...
178020,2020,2020,WA,Washington,Mammography use among women aged 50-74 years,%,Crude Prevalence,76.1,Race/Ethnicity,"White, non-Hispanic"
178341,2020,2020,WY,Wyoming,Mammography use among women aged 50-74 years,%,Crude Prevalence,NaN,Race/Ethnicity,Hispanic
178531,2020,2020,WV,West Virginia,Mammography use among women aged 50-74 years,%,Crude Prevalence,NaN,Race/Ethnicity,"Black, non-Hispanic"
178871,2020,2020,VT,Vermont,Mammography use among women aged 50-74 years,%,Crude Prevalence,NaN,Race/Ethnicity,"Black, non-Hispanic"
178935,2020,2020,WA,Washington,Mammography use among women aged 50-74 years,%,Crude Prevalence,78.7,Race/Ethnicity,Hispanic

In [31]:
breastcancer_filtered.sample(10)

,year_start,year_end,abbr,location,question,data_unit,data_type,data_value,category,classification
4841,2016,2020,LA,Louisiana,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,9.1,Race/Ethnicity,Hispanic
11195,2016,2020,ME,Maine,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,NaN,Race/Ethnicity,Hispanic
139444,2020,2020,NV,Nevada,Mammography use among women aged 50-74 years,%,Crude Prevalence,76.5,Overall,Overall
22848,2016,2020,WI,Wisconsin,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,27.5,Race/Ethnicity,"White, non-Hispanic"
127545,2020,2020,MD,Maryland,Mammography use among women aged 50-74 years,%,Crude Prevalence,79.3,Race/Ethnicity,"White, non-Hispanic"
8597,2016,2020,CO,Colorado,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,11.0,Race/Ethnicity,Hispanic
28546,2016,2020,WY,Wyoming,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,NaN,Race/Ethnicity,"Black, non-Hispanic"
572,2020,2020,VT,Vermont,Mammography use among women aged 50-74 years,%,Crude Prevalence,74.8,Overall,Overall
134651,2020,2020,ME,Maine,Mammography use among women aged 50-74 years,%,Crude Prevalence,82.6,Overall,Overall
19432,2016,2020,VT,Vermont,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,NaN,Race/Ethnicity,"Black, non-Hispanic"

In [32]:
breastcancer_filtered.head(10)

,year_start,year_end,abbr,location,question,data_unit,data_type,data_value,category,classification
410,2020,2020,AR,Arkansas,Mammography use among women aged 50-74 years,%,Crude Prevalence,74.2,Overall,Overall
444,2020,2020,ID,Idaho,Mammography use among women aged 50-74 years,%,Crude Prevalence,71.6,Overall,Overall
572,2020,2020,VT,Vermont,Mammography use among women aged 50-74 years,%,Crude Prevalence,74.8,Overall,Overall
1134,2016,2020,AZ,Arizona,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,23.5,Race/Ethnicity,"Black, non-Hispanic"
1183,2016,2020,CA,California,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,22.8,Overall,Overall
1459,2016,2020,IA,Iowa,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,6.9,Race/Ethnicity,Hispanic
1737,2016,2020,NM,New Mexico,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,26.4,Overall,Overall
1808,2016,2020,NH,New Hampshire,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,27.6,Race/Ethnicity,"White, non-Hispanic"
2110,2016,2020,NV,Nevada,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,8.1,Race/Ethnicity,Hispanic
2245,2016,2020,MD,Maryland,"Breast cancer mortality among all females, und...","per 100,000",Crude Rate,7.6,Race/Ethnicity,Hispanic

#### By running the .isna function it is clear that there are some values that are missing from the data set (such as crude prevalence for Washington and West Virgina by race). There will be no attempt to adjust these values as these particular rows will not be needed for analysis

In [34]:
breastcancer_filtered.isna()

,year_start,year_end,abbr,location,question,data_unit,data_type,data_value,category,classification
410,False,False,False,False,False,False,False,False,False,False
444,False,False,False,False,False,False,False,False,False,False
572,False,False,False,False,False,False,False,False,False,False
1134,False,False,False,False,False,False,False,False,False,False
1183,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
178020,False,False,False,False,False,False,False,False,False,False
178341,False,False,False,False,False,False,False,True,False,False
178531,False,False,False,False,False,False,False,True,False,False
178871,False,False,False,False,False,False,False,True,False,False
178935,False,False,False,False,False,False,False,False,False,False

#### By doing some additional checks, we can see that although the names of some of the columns have changed, the statistics and data types have remained the same.

In [36]:
breastcancer_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 415 entries, 410 to 178935
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year_start      415 non-null    int64
 1   year_end        415 non-null    int64
 2   abbr            415 non-null    object
 3   location        415 non-null    object
 4   question        415 non-null    object
 5   data_unit       415 non-null    object
 6   data_type       415 non-null    object
 7   data_value      344 non-null    float64
 8   category        415 non-null    object
 9   classification  415 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 35.7+ KB

In [37]:
breastcancer_filtered.describe()

        year_start  year_end  data_value
count   415.000000     415.0  344.000000
mean   2017.995181    2020.0   48.706105
std       2.002408       0.0   28.734626
min    2016.000000    2020.0    3.400000
25%    2016.000000    2020.0   25.900000
50%    2016.000000    2020.0   32.450000
75%    2020.000000    2020.0   78.225000
max    2020.000000    2020.0   92.200000

In [38]:
breastcancer_filtered.dtypes

year_start          int64
year_end            int64
abbr               object
location           object
question           object
data_unit          object
data_type          object
data_value        float64
category           object
classification     object
dtype: object

In [39]:
breastcancer_filtered.duplicated()

410       False
444       False
572       False
1134      False
1183      False
          ...
178020    False
178341    False
178531    False
178871    False
178935    False
Length: 415, dtype: bool

In [40]:
breastcancer_filtered[breastcancer_filtered.duplicated()]

Empty DataFrame
Columns: [year_start, year_end, abbr, location, question, data_unit, data_type, data_value, category, classification]
Index: []

#### Satisfied that this data is ready for analysis, it can be saved to a new CSV.

In [42]:
breastcancer_filtered.to_csv("breast_cancer_filtered.csv", index=False)